{% extends "header.html" %}
{% block content %}
  <table class='table table-striped table-bordered'>
    <thead>
      <tr>
        <td> Code </td>
        <td> Buy </td>
        <td> OutPerform </td>
        <td> Hold </td>
        <td> UnderPerform </td>
        <td> Sell </td>
        <td> No Opinion </td>
        <td> Mean </td>
        <td> Mean Difference </td>
        <td> Consensus </td>
        <td> Dividend </td>
        <td> Price Earnings </td>
        <td> Time </td>
        <td> Link </td>
      </tr>
    </thead>
    <tbody>
      {% for stock_value in stock_values %}
        <tr>
          <td> {{stock_value.get_stock_code}} </td>
          <td> {{stock_value.buy}} </td>
          <td> {{stock_value.outperform}} </td>
          <td> {{stock_value.hold}} </td>
          <td> {{stock_value.underperform}} </td>
          <td> {{stock_value.sell}} </td>
          <td> {{stock_value.no_opinion}} </td>
          <td> {{stock_value.mean}} </td>
          <td> {{stock_value.get_mean_difference}} </td>
          <td> {{stock_value.consensus}} </td>
          <td> {{stock_value.dividend}} </td>
          <td> {{stock_value.price_earnings}} </td> 
          <td> {{stock_value.time}} </td>
          <td> <a href="http://www.reuters.com/finance/stocks/analyst?symbol={{stock_value.get_stock_code}}">{{stock_value.get_stock_code}}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}